/* *************** */
/* *** GENERAL *** */
/* *************** */
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column; 
    background-image: url(../media/fondo.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    background-position: bottom;
    font-family: 'Inter', sans-serif;
}
h1 {
    font-family: 'Inter', sans-serif;
    font-style: italic;
    color: rgb(0, 0, 160);
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
h2 {
    font-family: 'Inter', sans-serif;
    color: blue;
    margin: 20px auto;
}
h3 {
    font-family: 'Inter', sans-serif;
    color: blue;
}
.boton{
    display: block;
    width: 180px;      
    height: 30px;
    margin: 10px auto;  
    text-align: center;
}

/* ************** */
/* *** INICIO *** */
/* ************** */
/* primera seccion */
.inicio__splash{
    display: flex;
    width: 100%;
    height: 84vh;
    background-image: url(../media/index/imagen3.jpg);
    background-position: center;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    align-content: flex-end;
}
.inicio__titulo,
.inicio__slogan {
    display: flex;
    display: block;
    margin: 0 10%;
    padding: 0;
}
.inicio__titulo{
    background-color: rgba(255, 255, 255, 0.445);
    font-size: 120%;
}
.inicio__slogan{
    font-size: 120%;
    /* font-style: italic; */
}
.inicio__slogan h2 span{
    color: white;
    background-color: blue;
}  
/* segunda seccion */
.inicio__links{
    margin: 30px;
    display: flex;
    flex-flow: row wrap;
    background-color: rgba(255, 255, 255, 0.445);
    justify-content: space-evenly;
}
.tag{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.tag div{
    margin: 5px;
}
.tag a{
    text-decoration: none;
}
.helix{
    width: 50px;
}
.tag:hover .helix{
    animation-name: girar360;
    animation-iteration-count: infinite; /* cantidad de ciclos */
    animation-timing-function: linear; /* tipo de progreso */
    animation-duration: 0.5s; /* cuanto dura el ciclo */
    animation-delay: 0s; /* cuando arranca */
}
@keyframes girar360 {
    0%   {transform: rotate(1deg);}
    100% {transform: rotate(-360deg);}
}

/* **************** */
/* *** NOSOTROS *** */
/* **************** */
.nosotros {
    display: block;
    background: white;
    padding: 10px 30px 10px 30px;
    width:870px;
    height: 350px;    
    margin: 10px auto;
    border: blue solid 3px;
    border-radius: 2%;
}
.nosotros__titulo{
    display: block;
    margin: 20px 0;
}
.nosotros__texto{
    display: inline-block;
    color: blue;
    text-align: justify;
    width: 435px;
    height: 230px;
    margin: 0 20px 0 0;
    overflow: auto;   
}
.nosotros__imagen {
    display: inline;
    border: blue solid 3px;
    border-radius: 2%;
    margin: 0 0 auto auto;
    width: 340px;
}

/* *************** */
/* *** GALERIA *** */
/* *************** */
.gridGaleria{
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(5, 18vw);
    grid-template-rows: repeat(5, 18vw);
    gap: 20px;
}
.celdas{
    display: flex;
    align-items: flex-end;
    justify-items: center;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
    text-align: justify;
    overflow: auto;
    border: blue solid 3px;
    border-radius: 2%;
}
.celdas p{
    display: none;
}
.celdas:hover p{
    display: inline-block;
    background: rgba(255, 255, 255, 0.8);
    color: blue;
    font-weight: bolder;
}
.celda1{
    grid-area: 1/1/3/3;
    background-image: url(../media/galeria/img1x1.jpg);
}
.celda2{
    grid-area: 1/3/2/5;
    background-image: url(../media/galeria/img2x1_bd.jpg);
}
.celda3{
    grid-area: 1/5/3/6;
    background-image: url(../media/galeria/img1x2.jpg);
}
.celda4{
    grid-area: 2/3/4/5;
    background-image: url(../media/galeria/img1x1_cm.jpg);
}
.celda5{
    grid-area: 3/1/5/2;
    background-image: url(../media/galeria/img1x2.jpg);
}
.celda6{
    grid-area: 3/2/5/3;
    background-image: url(../media/galeria/img1x2_jt.jpg);
}
.celda7{
    grid-area: 4/3/5/5;
    background-image: url(../media/galeria/img2x1.jpg);
}
.celda8{
    grid-area: 3/5/5/6;
    background-image: url(../media/galeria/img1x2_dw.jpg);
}
.celda9{
    grid-area: 5/4/6/6;
    background-image: url(../media/galeria/img2x1_ai.jpg);
}

/* ************** */
/* *** CURSOS *** */
/* ************** */
.cursos {
    margin: 20px;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    /* depuracion */
    /* background: green; */
    /* border:red solid 1px; */
}
.cursos__contenedores{
    display: inline-block;
    background: white;
    width: 35rem;
    height: 450px;
    margin: 10px;
    padding: 25px 30px 30px 30px;
    border: blue solid 3px;
    border-radius: 2%;
}
.cursos__contenedores:hover .cursos__fotos {
    filter: none;
}
.cursos__placas{
    display: inline-block;
    width: 100%;
    height: 90%;
    margin: 10px 0 0 0;
    padding: 10px;
    overflow: auto;
    /* depuracion */
    /* background: orange; */
}
.cursos__titulo{
    margin-top: 80px;
    text-align: center;
}
.cursos__nombres{
    margin: 0;
    text-align: center;
}
.cursos__textos {
    color: blue;
    text-align: justify;
    font-weight: 500;
}
.cursos__fotos {
    display: block;
    width: 70%;
    margin: 10px auto;
    margin-left: auto;
    margin-right: auto;
    border: blue solid 3px;
    border-radius: 2%;
    transition: all 1s;
    filter: grayscale(100%)
}
/* transformaciones */
.cursos__fotos:hover{
    transform: scale(105%);

}

/* *************** */
/* *** ALUMNOS *** */
/* *************** */
.alumnos__ingreso{
    text-align: center;
    margin-top: 20px;
}
.alumnos__titulo{
    text-align: center;
}
.alumnos__linea{
    display: block;
    width: 300px;
    height: 30px;
    margin: 10px auto;
    text-align: center;
}
.alumnos__boton {
    display: block;
    width: 100px;  
    height: 30px;
    margin: 10px auto;  
    text-align: center;
}
.alumnos__nuevo{
    margin-top: 60px;
    text-align: center;
}

/* **************** */
/* *** REGISTRO *** */
/* **************** */
.registro{
    background: white;
    width: 430px;
    height: 840px;    
    margin: 20px auto;
    padding: 10px 30px 30px 30px;
    border: blue solid 3px;
    border-radius: 2%;
}
.registro__titulo{
    text-align: center;
}
.registro__formulario{
    text-align: center;
}
.registro__linea{
    display: block;
    width: 300px;
    height: 30px;
    margin: 10px auto;
    text-align: center;
}
.registro__reglamento{
    display: block;
    width: 385px;
    height: 30px;
    margin: 10px auto;
    text-align: center;
}
.registro__checkbox{
    display: inline;
}
.registro__boton{
    display: block;
    width: 100px;      
    height: 30px;
    text-align: center;
    margin: 10px auto;  
}

/* ****************************** */
/* *** TERMINOS Y CONDICIONES *** */
/* ****************************** */
.terminos{
    background: white;
    width: 70%;
    height: 70vh;    
    margin: 20px auto;
    padding: 30px;
    border: blue solid 3px;
    border-radius: 2%;
}
.terminos__texto{
    overflow: auto;
    text-align: justify;
    max-height: 61vh;
}
.terminos__parrafo{
    display: block;
    margin-bottom: 15px;
}

/* ******************** */
/* *** INSTRUCTORES *** */
/* ******************** */
.instructores__ingreso{
    text-align: center;
}
.instructores__linea{
    display: block;
    height: 30px;
    text-align: center;
    margin: 10px auto;
    width: 300px;
}

/* ****************** */
/* *** RESET PASS *** */
/* ****************** */
.resetpass__ingreso{
    text-align: center;
}
.resetpass__titulo{
    text-align: center;
}
.resetpass__linea{
    display: block;
    height: 30px;
    text-align: center;
    margin: 10px auto;
}

/* **************** */
/* *** CONTACTO *** */
/* **************** */
.formularioContacto{
    display: block;
    margin: 10px auto;
    background: white;
    border: blue solid 3px;
    border-radius: 2%;
    width: 400px;
    padding: 20px;
    text-align: center;
}
.formularioContacto__titulo{
    text-align: center;
}
.formularioContacto__linea {
    display: block;
    height: 30px;
    text-align: center;
    margin: 10px auto;
    width: 300px;
}
.formularioContacto__caja {
    text-align: center;
    padding: 10px;
    width: 300px;
    height: 100px;
}
.formularioContacto__boton{
    display: block;
    height: 30px;
    text-align: center;
    margin: 10px auto;  
    width: 100px;      
}
.datosContacto {
    display: block;
    margin: 10px auto;
    background: white;
    border: blue solid 3px;
    border-radius: 2%;
    max-width: 760px;
    padding: 20px;
}
.datosContacto__titulo{
    text-align: center;
    margin: 10px;
}
.datosContacto__mapa{
    display: block;
    margin: 20px auto;
}
.datosContacto__linea{
    display: block;
    text-align: center;
    margin: 20px auto;
    font-weight: 500;
}