/* -RESET- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

/* -Variables y Estilos Universales- */
.marcos, .container-fluid, .nosotros, .nosotros__imagen, .cursos__contenedores, .cursos__fotos, .registro, .terminos, .formularioContacto, .datosContacto, .datosContacto__mapa {
  /* border: $col-azul-oscuro solid 3px; */
  border: #acacac solid 1px;
  border-radius: 5%;
  box-shadow: 2px 3px #afafaf;
}

.alumnos__linea {
  display: block;
  width: 300px;
  max-width: 80%;
  height: 30px;
  text-align: center;
  margin: 10px auto;
}

.instructores__linea {
  display: block;
  width: 300px;
  max-width: 80%;
  height: 30px;
  text-align: center;
  margin: 10px auto;
}

.registro__linea {
  display: block;
  width: 300px;
  max-width: 80%;
  height: 30px;
  text-align: center;
  margin: 10px auto;
}

.resetpass__linea {
  display: block;
  width: 300px;
  max-width: 80%;
  height: 30px;
  text-align: center;
  margin: 10px auto;
}

.formularioContacto__linea {
  display: block;
  width: 300px;
  max-width: 80%;
  height: 30px;
  text-align: center;
  margin: 10px auto;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url(../media/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-position: bottom;
}

h1 {
  font-style: italic;
  color: #0000a0;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  text-shadow: 2px 2px white;
}

h2 {
  color: #0000de;
  margin: 20px auto;
}

h3 {
  color: #0000de;
}

h5 {
  color: white;
  /* background-color: $col-azul-claro; */
}

.boton {
  display: block;
  width: 200px;
  max-width: 75%;
  height: 30px;
  border-radius: 2%;
  margin: 10px auto;
  text-align: center;
}

.boton:hover {
  color: white;
  background-color: #0000de;
}

.contorno {
  text-shadow: -1px -1px 0 #0000a0, 1px -1px 0 #0000a0, -1px 1px 0 #0000a0, 1px 1px 0 #0000a0;
}

.carousel-item {
  max-height: 80vh;
}

.gal__img {
  flex: auto;
  align-items: flex-end;
}

/* -HEADER- */
header {
  background-image: linear-gradient(to right, #0000a0, #0000de, #0000a0);
  position: sticky;
  top: 0;
  z-index: 10;
}

.header__nombre {
  display: flex;
  align-items: center;
}

.header__logo {
  display: inline;
  height: 60px;
}

.header__titulo {
  font-style: italic;
  font-weight: 700;
  color: white;
}

.header__menu ul {
  width: 400px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.header__menu ul li a:hover {
  color: yellow;
  font-weight: bolder;
}

.header__menu ul li:hover ul {
  display: block;
}

.header__menu ul ul {
  background: white;
  background-image: linear-gradient(to right, #0000a0, #0000de, #0000a0);
}

.header__menu ul ul li {
  border: white solid 2px;
  background-image: linear-gradient(to right, #0000b4, #0000de, #0000a0);
}

.header__menu li a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

.dropdown-item {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  border: white solid 2px;
  background-image: linear-gradient(to right, #0000b4, #0000de, #0000a0);
}

.dropdown-menu {
  background: white;
  background-image: linear-gradient(to right, #0000a0, #0000de, #0000a0);
}

/* -FOOTER- */
.footer {
  background-image: linear-gradient(to right, #0000a0, #0000de, #0000a0);
  font-family: 'Inter', sans-serif;
  color: white;
  margin-top: auto;
  bottom: 0px;
  z-index: 10;
}

.footer__item {
  display: inline-block;
  margin: auto 30px;
}

.footer__logo {
  height: 16px;
  margin: -5px 5px -2px 0px;
}

.footer__menu ul {
  text-align: center;
  list-style: none;
  margin-top: 13px;
  position: sticky;
}

.footer__menu ul li {
  margin: 2px 5px;
  display: inline-block;
  text-align: center;
}

.footer__menu ul li:hover {
  color: yellow;
  font-weight: bolder;
}

.footer__menu ul li a {
  color: white;
  text-decoration: none;
}

/* ************** */
/* *** INICIO *** */
/* ************** */
.modal-header {
  background-image: linear-gradient(to right, #0000a0, #0000de, #0000a0);
  color: white;
}

.inicio__splash {
  display: flex;
  width: 100%;
  height: 85vh;
  background-image: url(../media/index/index.jpg);
  background-position: center;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  align-content: flex-end;
  background-repeat: no-repeat;
  background-size: cover;
}

.inicio__titulo {
  align-self: flex-end;
  display: flex;
  display: block;
  margin: 0 10%;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.445);
  font-size: 120%;
}

.inicio__slogan {
  align-self: flex-end;
  display: flex;
  display: block;
  margin: 0 10%;
  padding: 0;
  font-size: 120%;
}

.inicio__slogan h2 span {
  color: white;
  background-color: blue;
}

.blockquote {
  align-self: flex-start;
  margin-left: 5rem;
  background-color: rgba(255, 255, 222, 0.3);
}

.blockquote:hover {
  background-color: rgba(255, 255, 222, 0.6);
}

.inicio__links {
  margin: 30px;
  display: flex;
  flex-flow: row wrap;
  background-color: rgba(255, 255, 255, 0.445);
  justify-content: space-evenly;
}

.tag {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tag div {
  margin: 5px;
}

.tag a {
  text-decoration: none;
}

.tag:hover .helix {
  animation-name: girar360;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 0.5s;
  animation-delay: 0s;
}

.helix {
  width: 50px;
}

/* **************** */
/* *** NOSOTROS *** */
/* **************** */
.nosotros {
  display: block;
  background: white;
  padding: 10px;
  max-width: 90vw;
  margin: 10px auto;
}

.nosotros__titulo {
  display: block;
  margin: 10px;
}

.nosotros__texto {
  display: inline-block;
  color: blue;
  text-align: justify;
  height: 230px;
  margin: 10px;
  overflow: auto;
}

.nosotros__imagen {
  display: none;
}

@media (min-width: 360px) and (max-width: 1023px) {
  .nosotros {
    min-width: 80%;
    max-width: 50vw;
    padding: auto;
  }
  .nosotros__texto {
    display: block;
    max-height: 20vh;
  }
  .nosotros__imagen {
    display: block;
    margin: 0 auto;
    max-width: 95%;
  }
}

@media screen and (min-width: 1024px) {
  .nosotros {
    max-width: 900px;
    padding: auto;
    height: 290px;
  }
  .nosotros__texto {
    display: inline-block;
    max-width: 60%;
    height: 80%;
  }
  .nosotros__imagen {
    display: inline-block;
    justify-self: flex-end;
    vertical-align: top;
    max-width: 35%;
  }
}

.carousel-caption {
  background-color: rgba(0, 0, 160, 0.8);
}

/* ************** */
/* *** CURSOS *** */
/* ************** */
.cursos {
  margin: 20px;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.cursos__contenedores {
  display: inline-block;
  background: white;
  width: 35rem;
  height: 450px;
  margin: 10px;
  padding: 25px 30px 30px 30px;
  overflow: auto;
}

.cursos__contenedores:hover .cursos__fotos {
  filter: none;
}

.cursos__placas {
  display: inline-block;
  width: 100%;
  height: 90%;
  margin: 10px 0 0 0;
  padding: 10px;
}

.cursos__nombres {
  margin: 0;
  text-align: center;
  font-size: medium;
  font-weight: 700;
}

.cursos__textos {
  color: blue;
  text-align: justify;
  font-weight: 500;
}

.cursos__fotos {
  display: block;
  width: 70%;
  margin: 10px auto;
  margin-left: auto;
  margin-right: auto;
  transition: all 1s;
  filter: grayscale(100%);
}

.cursos__fotos:hover {
  transform: scale(105%);
}

@media screen and (min-width: 360px) {
  .cursos__contenedores {
    overflow: unset;
  }
  .cursos__nombres {
    font-size: x-large;
  }
  .cursos__placas {
    overflow: auto;
  }
}

/* *************** */
/* *** ALUMNOS *** */
/* *************** */
.alumnos__ingreso {
  text-align: center;
  margin-top: 20px;
}

.alumnos__titulo {
  text-align: center;
}

.alumnos__boton {
  display: block;
  width: 100px;
  height: 30px;
  margin: 10px auto;
  text-align: center;
}

.alumnos__nuevo {
  margin-top: 60px;
  text-align: center;
}

/* **************** */
/* *** REGISTRO *** */
/* **************** */
.registro {
  background: white;
  width: 430px;
  max-width: 95%;
  height: 990px;
  margin: 20px auto;
  padding: 10px 30px 30px 30px;
}

.registro__titulo {
  text-align: center;
}

.registro__formulario {
  text-align: center;
}

.registro__reglamento {
  display: inline-block;
  width: 385px;
  max-width: 100%;
  height: 30px;
  margin: 10px auto;
  text-align: center;
  flex-wrap: wrap;
}

.registro__checkbox {
  display: inline;
}

.registro__boton {
  display: block;
  width: 100px;
  height: 30px;
  text-align: center;
  margin: 10px auto;
}

.terminos {
  background: white;
  width: 70%;
  height: 70vh;
  margin: 20px auto;
  padding: 30px;
}

.terminos__texto {
  overflow: auto;
  text-align: justify;
  max-height: 61vh;
}

.terminos__parrafo {
  display: block;
  margin-bottom: 15px;
}

/* ******************** */
/* *** INSTRUCTORES *** */
/* ******************** */
.instructores__ingreso {
  text-align: center;
}

/* **************** */
/* *** CONTACTO *** */
/* **************** */
.formularioContacto {
  display: block;
  margin: 10px auto;
  background: white;
  max-width: 95%;
  padding: 20px;
  text-align: center;
}

.formularioContacto__titulo {
  text-align: center;
}

.formularioContacto__caja {
  text-align: center;
  padding: 10px;
  width: 300px;
  max-width: 80%;
  height: 100px;
}

.datosContacto {
  display: block;
  margin: 10px auto;
  background: white;
  max-width: 95%;
  padding: 20px;
}

.datosContacto__titulo {
  text-align: center;
  margin: 10px;
}

.datosContacto__mapa {
  display: block;
  margin: 20px auto;
  width: 70%;
}

.datosContacto__linea {
  display: block;
  text-align: center;
  margin: 20px auto;
  font-weight: 500;
}

@media screen and (min-width: 410px) {
  .formularioContacto {
    max-width: 400px;
  }
}

@media screen and (min-width: 760px) {
  .datosContacto {
    max-width: 755px;
  }
}
/*# sourceMappingURL=style.css.map */