// Imports de SCSS
@import 'reset'; // Reseteo de propiedades.
@import 'generales'; // variables y estilos.
@import 'header'; // Estilos del Header.
@import 'footer'; // Estilos del Footer.

/* ************** */
/* *** INICIO *** */
/* ************** */
.modal-header {
	background-image: $bg-col-gradient;
	color: white;
}
.inicio__splash {
	display: flex;
	width: 100%;
	height: 85vh;
	background-image: url(../media/index/index.jpg);
	background-position: center;
	justify-content: center;
	align-items: flex-end;
	flex-direction: column;
	align-content: flex-end;
	background-repeat: no-repeat;
	background-size: cover
}
.inicio__titulo {
	align-self: flex-end;
	display: flex;
	display: block;
	margin: 0 10%;
	padding: 0;
	background-color: rgba(255, 255, 255, 0.445);
	font-size: 120%;
}
.inicio__slogan {
	align-self: flex-end;
	display: flex;
	display: block;
	margin: 0 10%;
	padding: 0;
	font-size: 120%;
	h2 {
		span {
			color: white;
			background-color: blue;
		}
	}
}
.blockquote {
	align-self: flex-start;
	margin-left: 5rem;
	background-color: rgba(255, 255, 222, 0.3);
	&:hover{
		background-color: rgba(255, 255, 222, 0.6);
	}
}
.inicio__links {
	margin: 30px;
	display: flex;
	flex-flow: row wrap;
	background-color: rgba(255, 255, 255, 0.445);
	justify-content: space-evenly;
}
.tag {
	display: flex;
	flex-direction: row;
	align-items: center;
	div {
		margin: 5px;
	}
	a {
		text-decoration: none;
	}
	&:hover {
		.helix {
			animation-name: girar360;
			animation-iteration-count: infinite;
			animation-timing-function: linear;
			animation-duration: 0.5s;
			animation-delay: 0s;
		}
	}
}
.helix {
	width: 50px;
}
/* **************** */
/* *** NOSOTROS *** */
/* **************** */
.nosotros {
	@extend .marcos;
	display: block;
	background: white;
	padding: 10px;
	max-width: 90vw;
	margin: 10px auto;
}
.nosotros__titulo {
	display: block;
	margin: 10px;
}
.nosotros__texto {
	display: inline-block;
	color: blue;
	text-align: justify;
	height: 230px;
	margin: 10px;
	overflow: auto;
}
.nosotros__imagen {
	@extend .marcos;
    display: none;
}
@media (min-width: 360px) and (max-width: 1023px) {
    .nosotros {
        min-width: 80%;
        max-width: 50vw;
        padding: auto;
    }
    .nosotros__texto {
        display: block;
        max-height: 20vh;
    }
    .nosotros__imagen{
        display: block;
        margin: 0 auto;
        max-width: 95%;
    }
}
@media screen and (min-width: 1024px) {
    .nosotros {
        max-width: 900px;
        padding: auto;
        height: 290px;
    }
    .nosotros__texto {
        display: inline-block;
        max-width: 60%;
        height: 80%;
    }
    .nosotros__imagen{
        display: inline-block;
        justify-self: flex-end;
        vertical-align: top;
        max-width: 35%;
    }
}
.carousel-caption {
	background-color: rgba(0, 0, 160, 0.8);
}
/* ************** */
/* *** CURSOS *** */
/* ************** */
.cursos {
	margin: 20px;
	padding: 0;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}
.cursos__contenedores {
	display: inline-block;
	background: white;
	width: 35rem;
	height: 450px;
	margin: 10px;
	padding: 25px 30px 30px 30px;
    overflow: auto;
	@extend .marcos;
	&:hover {
		.cursos__fotos {
			filter: none;
		}
	}
}
.cursos__placas {
    display: inline-block;
	width: 100%;
	height: 90%;
	margin: 10px 0 0 0;
	padding: 10px;
}
.cursos__nombres {
    margin: 0;
	text-align: center;
    font-size:medium;
    font-weight: 700;
}
.cursos__textos {
    color: blue;
	text-align: justify;
	font-weight: 500;
}
.cursos__fotos {
    display: block;
	width: 70%;
	margin: 10px auto;
	margin-left: auto;
	margin-right: auto;
	@extend .marcos;
	transition: all 1s;
	filter: grayscale(100%);
	&:hover {
        transform: scale(105%);
	}
}
@media screen and (min-width: 360px) {
    .cursos__contenedores{
        overflow: unset;
    }
    .cursos__nombres {
    font-size:x-large;
    }
    .cursos__placas {
        overflow: auto;
    }
}
/* *************** */
/* *** ALUMNOS *** */
/* *************** */
.alumnos__ingreso {
	text-align: center;
	margin-top: 20px;
}
.alumnos__titulo {
	text-align: center;
}
.alumnos__boton {
	display: block;
	width: 100px;
	height: 30px;
	margin: 10px auto;
	text-align: center;
}
.alumnos__nuevo {
	margin-top: 60px;
	text-align: center;
}
/* **************** */
/* *** REGISTRO *** */
/* **************** */
.registro {
	@extend .marcos;
    background: white;
	width: 430px;
    max-width: 95%;
	height: 990px;
	margin: 20px auto;
	padding: 10px 30px 30px 30px;
}
.registro__titulo {
	text-align: center;
}
.registro__formulario {
	text-align: center;
}
.registro__reglamento {
	display: inline-block;
	width: 385px;
    max-width: 100%;
	height: 30px;
	margin: 10px auto;
	text-align: center;
    flex-wrap: wrap;
}
.registro__checkbox {
	display: inline;
}
.registro__boton {
	display: block;
	width: 100px;
	height: 30px;
	text-align: center;
	margin: 10px auto;
}
.terminos {
	background: white;
	width: 70%;
	height: 70vh;
	margin: 20px auto;
	padding: 30px;
	@extend .marcos;
}
.terminos__texto {
	overflow: auto;
	text-align: justify;
	max-height: 61vh;
}
.terminos__parrafo {
	display: block;
	margin-bottom: 15px;
}
/* ******************** */
/* *** INSTRUCTORES *** */
/* ******************** */
.instructores__ingreso {
	text-align: center;
}
/* **************** */
/* *** CONTACTO *** */
/* **************** */
.formularioContacto {
	display: block;
	margin: 10px auto;
	background: white;
	@extend .marcos;
	max-width: 95%;
	padding: 20px;
	text-align: center;
}
.formularioContacto__titulo {
	text-align: center;
}
.formularioContacto__caja {
    text-align: center;
	padding: 10px;
	width: 300px;
    max-width: 80%;
	height: 100px;
}
.datosContacto {
	@extend .marcos;
    display: block;
	margin: 10px auto;
	background: white;
	max-width: 95%;
	padding: 20px;
}
.datosContacto__titulo {
	text-align: center;
	margin: 10px;
}
.datosContacto__mapa {
	@extend .marcos;
    display: block;
	margin: 20px auto;
    width: 70%;
}
.datosContacto__linea {
	display: block;
	text-align: center;
	margin: 20px auto;
	font-weight: 500;
}
@media screen and (min-width: 410px) {
    .formularioContacto {
        max-width: 400px;
    }
}
@media screen and (min-width: 760px) {
    .datosContacto {
        max-width: 755px;
    }
}